apiVersion: v1
kind: Service 
metadata: 
  name: postgres-svc 
spec: 
  type: ClusterIP
  clusterIP: None
  selector: 
    mathLabels: 
      app: postgres 
  ports: 
    port: 5432
    targetPort: 5432 
    protocol: TCP